.input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  margin: 5px auto;
  border-color: red;
  padding: 0 10px;
  color: #4b4b4b;
  font-size: 15px;

}
.error {
  color: red;
  width: 200px;
  font-size: 10px;
  text-align: left;
}